:root {
  --primary-color: #4C4C47;
  --secondary-color: #C3B299;
  --tertiary-color: #247BA0;
  --dark-color: #230903;
  --light-color: #FFFCFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Play', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 50px;
  flex-basis: 25%;
}


header {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  flex-basis: 50%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  margin: 150px 250px 225px 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about p {
  line-height: 1.5;
}

.about h2 {
  font-size: 45px;
}

.about-image {
  width: 450px;
  border: 3px solid var(--dark-color);
  border-radius: 2%;
}

.about-image-container {
  flex: 1;
}

.about-info-container {
  flex: 2;
}

.fa_custom {
  color: 
  #0099CC
}

.navActive {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--secondary-color);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  margin-bottom: 100px;
}

.projects h2 {
  font-size: 30px;
  border-bottom: 3px solid var(--dark-color);
  padding: 0 10px 3px 10px; 
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}

.project h3 {
  font-style: italic;
}

.small-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 49%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.project {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
  position: relative;
  border: 4px solid var(--dark-color);
}

.img-small {
  opacity: .55;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.small-projects h3 {
  font-size: 15px;
  margin: 0;
  position: absolute;
  bottom: 0;
  border-left-style: none;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 10px;
  border-top-style: none;
  text-align: center;
  color: var(--dark-color)
}

.github {
  color: var(--dark-color);
}

.img-small:hover {
  opacity: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 90px;
}

.contact h2 {
  font-size: 30px;
  font-size: 30px;
  border-bottom: 3px solid var(--dark-color);
  padding: 0 10px 3px 10px; 
  margin-bottom: 40px;
  margin-top: 65px;
}

.form-el {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  margin-bottom: 20px;
}

.form-el textarea, .form-el input {
  flex-basis: 50%;
}

.message {
  align-items: flex-start;
  flex-direction: column;
}

.message textarea {
  width: 100%;
  margin-top: 7px;
}

.error-text {
  margin: 0;
  margin-top: 10px;
  color: #a02424;
}

.hidden-error {
  margin: 0;
  margin-top: 10px;
  color: var(--light-color);
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.resume h2 {
  font-size: 30px;
  border-bottom: 3px solid var(--dark-color);
  padding: 0 10px 3px 10px; 
  margin-top: 75px;
}

.resume a {
  margin-top: 20px;
  color: var(--dark-color);
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#contact-form button {
  margin-top: 15px;
  background-color: var(--secondary-color);
  border: 2px solid var(--dark-color);
  padding: 3px 10px;
}

#contact-form button:hover {
  background-color: #e2cba9;
}






